[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
*.tmp
ClientSimStorage/
.uloop/

# Unity generated
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Visual Studio
.vs/
*.sln
*.csproj

# Build results
[Bb]uild/
[Bb]uilds/
